*{
    margin: 0;
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

body{
    background-color: lightgrey;
    min-height: 100vh;
    font-size: 1em;
}

header{
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-variant: small-caps;
    font-family: var(--fonte1);
}

header > h1{
    font-size: 10vw;
    padding-top: 50px;
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    font-size: 3vw;
    font-family: var(--fonte3);
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-weight: bold;
}

section.imagem{
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.500);
}

section.normal{
    background-color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.300);
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    text-shadow: 2px 2px 2px black;
}

section#img1{
    background-image: url("../pacote-d012/imagens/background001.jpg");
    background-position: right center;
}

section#img2{
    background-image: url("../pacote-d012/imagens/background002.jpg");
    background-position: right center;
}

footer{
    background-color: black;
    text-align: center;
    padding: 10px;
}

footer a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}